footer {
    background: rgb(145, 145, 145);
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
    
}

.footer__logo {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    display: inline-block;
    text-decoration: none;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    color: white;
}

.footer__social a {
    color: white;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
}


.footer__copyright {
    margin-bottom: 3rem;
    color: white;
}

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}