@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: rgb(145, 145, 145);
}
